body {
  display: flex;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1D232A;
  height: 100vh;
  margin: 0;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h1 {
  color: white;
}

p, h3, em, label, li {
  color: #A6ACBA;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
}

.indexBody {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 15px;
  text-align: center;
}

.indexBody > p {
  font-size: 1.4rem;
  margin: 10px;
}

.indexTitle{
  font-size: 3.5rem;
  font-weight: bold;
}

.homeButton {
  color: #A6ACBA;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: 25px;
}

@media (max-width: 1020px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 770px) {
  .headerButtons {
    flex-direction: column;
    align-items: center;
  }
}

.headerButtons > a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #A6ACBA;
  font-size: .8rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
}

.homeButton:hover {
  background-color: #383E47;
}

.headerButtons > a:hover {
  background-color: #383E47;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  max-width: 512px;
  width: 100%;
  padding-top: 40px;
}

.message {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #15191E;
  border-radius: 15px;
  gap: 10px;
}

.messageTop, .messageBot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageMid {
  display: flex;
  align-items: center;
  gap: 6px;
}

.authorName {
  color: #6419E6;
  font-style: italic;
  font-weight: bold;
  font-size: .95rem;
}

.messageTop > h3 {
  font-size: 1.3rem;
  margin: 0;
}

.messageTop > em {
  font-size: .8rem;
}

.messageBot > p {
  margin: 0;
}

.memberBtnText {
  font-size: .95rem;
}

.purpleText {
  color: #6419E6;
}

.pinkText {
  color: #D827A9;
}

.tealText {
  color: #22A99E;
}

.deleteBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  color: #A6ACBA;
  cursor: pointer;
  padding: 10px;
}

.deleteBtn:hover {
  background-color: #383E47;
  border-radius: 7px;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 435px;
  gap: 20px;
  padding-bottom: 50px;
}

.bodyContainer > h1 {
  margin: 0;
  font-size: 2.3rem;
}

.bodyContainer > p {
  margin: 0;
  font-size: .95rem;

}

.messageForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.messageTitle {
  background: none;
  border: 1px solid #383E47;
  border-radius: 5px;
  height: 45px;
  resize: none;
  color: #969CAA;
  line-height: 45px;
  font-size: 1rem;
  padding: 0 10px; 
}

.messageBody {
  background: none;
  border: 1px solid #383E47;
  border-radius: 5px;
  resize: vertical;
  box-sizing: border-box;
  height: 110px;
  color: #969CAA;
  resize: none;
}

.messageForm > button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #D827A9;
}

.signUpTop, .signUpBot {
  display: flex;
  justify-content: space-between;
}

.upEmail {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7px;
  padding-bottom: 15px;
}

.upEmail > input, .upFirstName > input, .upLastName > input, .upPassword > input, .upConfirm > input {
  background: none;
  border: 1px solid #383E47;
  border-radius: 10px;
  height: 45px;
  color: #969CAA;
  line-height: 45px;
  font-size: 1rem;
  padding: 0 10px; 
}

.upFirstName, .upLastName, .upPassword, .upConfirm {
  display: flex;
  flex-direction: column;
  width: 47%;
  gap: 7px;
  padding-bottom: 15px;
}

.upFirstName > label, .upLastName > label, .upPassword > label, .upConfirm > label, .upEmail > label {
  padding-left: 3px;
}

.messageForm > button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #D827A9;
}

.signUpForm > button, .signInForm > button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #6419E6;
  width: 100%;
  cursor: pointer;
}

#hintBtn {
  padding: 15px;
  position: absolute;
  bottom: 7%;
  right: 5%;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #1D232A;
  color: #1D232A;
  width: 275px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#hintBtn:hover {
  background-color: #383E47;
  color: #A6ACBA;
}