<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Become a member</h1>
  <form action="" method="POST">
    <label for="passcode">Passcode</label>
    <input name="passcode" type="password" required/>
    <button type="submit">Submit</button>
  </form>
</body>
</html>

if errors
  ul
    for error in errors
      li!= error.msg
