doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title
    
  body
    h1 Sign Up
    form(action="", method="POST")
      label(for="firstname") First name
      input(name="firstname", type="text", required)
      label(for="lastname") Last name
      input(name="lastname", type="text", required)
      label(for="email") Email
      input(name="email", type="email", required)
      label(for="password") Password
      input(name="password", type="password", required)
      label(for="confirmPassword") Confirm Password:
      input(name="confirmPassword", type="password", required)
      button(type="submit") Submit

    if errors
      ul
        each error in errors
          li= error.msg
